# Python e ambiente virtual
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
ENV/
env.bak/
venv.bak/

# Banco de dados
db.sqlite3
*.db

# Arquivos de log
*.log

# Configurações locais sensíveis
local_settings.py
settings_local.py
*.local

# Arquivos de migrações (opcional, remova se quiser versionar)
# /migrations/

# Arquivos estáticos e mídia
/staticfiles/
/media/
/data/

# Dependências e builds
site-packages/
dist/
*.egg
*.egg-info/
build/

# Arquivos de editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos temporários do sistema
.DS_Store
Thumbs.db
*.bak
*.swp
*~

# Outros
*.cache
*.pid